{% extends "blog/base.html" %}

{% block page_header %}
<div class="mx-auto text-center">
  <h1>ایجاد حساب کاربری</h1>
</div>
{% endblock page_header %}


{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert alert-danger alert-dismissible" role="alert" >
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'users:register' %}" class="row g-4">
    {% csrf_token %}

    <div class="col-md-4 mx-auto">
      <label class="form-label" for="id_username">{{ form.username.label }}</label>
      <input type="text" name="username" maxlength="150" autocapitalize="none"
      autocomplete="username" autofocus="" class="form-control" placeholder=""
      title="{{ form.username.help_text }}" required="" id="id_username">
        <small class="form-text text-muted">{{ form.username.help_text }}</small>
    </div><hr>
    <div class="col-md-4 mx-auto">
      <label class="form-label" for="id_password1">{{ form.password1.label }}</label>
      <input type="password" name="password1" autocomplete="new-password" class="form-control"
      placeholder="" title={{ form.password1.help_text }} required="" id="id_password1">
      <small class="form-text text-muted">{{ form.password1.help_text|linebreaks }}</small>
    </div>
    <div class="col-md-4 mx-auto">
      <label class="form-label" for="id_password2">{{ form.password2.label }}</label>
      <input type="password" name="password2" autocomplete="new-password" class="form-control"
      placeholder="" title={{ form.password2.help_text }} required="" id="id_password2">
      <small class="form-text text-muted">{{ form.password2.help_text|linebreaks }}</small>
    </div><hr>
    <div class="col-md-4 mx-auto">
      <label class="form-label" for="id_first_name">{{ form.first_name.label }}</label>
      <input type="text" name="first_name" maxlength="150" class="form-control"
      placeholder="" title="{{ form.first_name.help_text }}" required="" id="id_first_name">
      <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
    </div>
    <div class="col-md-4 mx-auto">
      <label class="form-label" for="id_last_name">{{ form.last_name.label }}</label>
      <input type="text" name="last_name" maxlength="150" class="form-control"
      placeholder="" title={{ form.last_name.help_text }} required="" id="id_last_name">
      <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
  </div><hr>
  <div class="mx-auto text-center">
         <button name="submit" class="btn btn-primary mx-auto">ایجاد حساب</button>
  </div>
    <input type="hidden" name="next" value="{% url 'blog:post_list' %}" /></form>



    
{% endblock content %}