{% extends "blog/base.html" %}

{% block page_header %}
<div class="mx-auto text-center">
  <h2>سبد سفارش</h2>
</div>
{% endblock page_header %}

{% block content %}
<form id="form-container" method="POST" class="post-form">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
        <div class="item-form">
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
            </div>
            <div class="col-md-6">
                <div id="price-table-{{ forloop.counter0 }}">
                </div>
            </div>
            <hr>
        </div>
        </div>
        {% endfor %}
    <button id="add-form" type="button" class="save btn btn-secondary">اضافه کردن آیتم</button>
    <button type="submit" name="cart-form" class="save btn btn-secondary">ثبت سفارش</button>
</form>

<script>
// from https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript tutorial

    let itemForm = document.querySelectorAll(".item-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = itemForm.length - 1;
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = itemForm[0].cloneNode(true);
        let formRegex = RegExp(`form-(\\d){1}-`,'g');
        let priceTableRegex = RegExp(`price-table-(\\d){1}`,'g');

        formNum++;
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
        newForm.innerHTML = newForm.innerHTML.replace(priceTableRegex, `price-table-${formNum}`);
        container.insertBefore(newForm, addButton);

        const subjectField = document.getElementById(`id_form-${formNum}-subject`);
        subjectField.setAttribute("disabled", "disabled");
        const priceTable = document.getElementById(`price-table-${formNum}`);
        priceTable.innerHTML = "";
        
        totalForms.setAttribute('value', `${formNum+1}`);
        // console.log(totalForms.value);

        addListeners()
    }

    function addListeners() {
        for (var j = 0; j <= formNum; j++) {
            let typeField = document.getElementById(`id_form-${j}-type`)
            typeField.addEventListener('change', changeSubjectField)
            typeField.addEventListener('change', changeUnitHelptext)
            let levelField = document.getElementById(`id_form-${j}-level`)
            let subjectField = document.getElementById(`id_form-${j}-subject`)
            typeField.addEventListener('change', createPriceTable)
            subjectField.addEventListener('change', createPriceTable)
            levelField.addEventListener('change', createPriceTable)
        }
    }

    window.onload = addListeners();
    
    function changeSubjectField() {
        // delete options from subject select field
        let formNum = this.id.match(/\d/g).join("");
        const select = document.getElementById(`id_form-${formNum}-subject`);
        for (var i = select.length - 1; i >= 0; i--) {
            select.remove(i);
        }

        // add new options to subject select field
        let subjects = {{ subjects|safe }}[this.value];
        for (var i=0; i < subjects.length; i++) {
            var opt = document.createElement('option');
            opt.value = subjects[i];
            opt.innerHTML = {{ subject_ids|safe }}[subjects[i]];
            select.appendChild(opt);
        }
        select.removeAttribute("disabled");
    }

    function changeUnitHelptext() {
        // change unit helptext
        let formNum = this.id.match(/\d/g).join("");
        document.getElementById(`id_form-${formNum}-number_helptext`).innerHTML = {{ units|safe }}[this.value];
    }

    function createPriceTable() {
        let formNum = this.id.match(/\d/g).join("");
        const tbl = document.createElement("table");
        tbl.classList.add("table")
        // tbl.classList.add("table-striped")
        let subject_id = document.getElementById(`id_form-${formNum}-subject`).value;
        let level_id = document.getElementById(`id_form-${formNum}-level`).value;
        let prices = {{ prices|safe }}[subject_id][level_id];
        let unit = document.getElementById(`id_form-${formNum}-number_helptext`).textContent;
        console.log(prices)
        const header = tbl.createTHead();
        const thead = header.insertRow();
        const cell1 = thead.insertCell();
        cell1.textContent = "محدوده‌ی سفارش";
        const cell2 = thead.insertCell();
        cell2.textContent = "قیمت هر " + unit;
        const tableBody = tbl.createTBody();
        for (let price in prices) {
            const tr = tableBody.insertRow();
            const td1 = tr.insertCell();
            td1.textContent = "بین " + prices[price][0] + " تا " + prices[price][1] + " " + unit;
            td1.classList.add("table-secondary");
            const td2 = tr.insertCell();
            td2.textContent = prices[price][2] + " تومان";
        }
        const priceTable = document.getElementById(`price-table-${formNum}`);
        priceTable.innerHTML = "";
        priceTable.append(tbl);
    }
</script>

{% endblock content %}
