{% extends "blog/base.html" %}

{% block page_header %}
<div class="mx-auto text-center">
  <h2>سبد سفارش</h2>
</div>
{% endblock page_header %}

{% block content %}
<form id="form-container" method="POST" class="post-form">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
        <div class="item-form">
            {{ form.as_p }}
            <hr>
        </div>
        {% endfor %}
    <button id="add-form" type="button" class="save btn btn-secondary">اضافه کردن آیتم</button>
    <button type="submit" name="cart-form" class="save btn btn-secondary">ثبت سفارش</button>
</form>

<script>
// from https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript tutorial

    let itemForm = document.querySelectorAll(".item-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = itemForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = itemForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
        // console.log(totalForms.value);
    }

    let typeField = document.getElementById("id_form-0-type")
    typeField.addEventListener('change', changeSubjectField)
    function changeSubjectField() {
        // delete options from subject select field
        select = document.getElementById("id_form-0-subject");
        for (var i = select.length - 1; i >= 0; i--) {
            select.remove(i);
        }

        // add new options to subject select field
        let subjects = {{ subjects|safe }}[this.value];
        for (var i=0; i < subjects.length; i++) {
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = subjects[i];
            select.appendChild(opt);
        }
    }

    typeField.addEventListener('change', changeUnitHelptext)
    function changeUnitHelptext() {
        // change unit helptext
        document.getElementById("id_form-0-number_helptext").innerHTML = {{ units|safe }}[this.value];
    }
</script>

{% endblock content %}
