{% extends "blog/base.html" %}

{% block page_header %}
<div class="mx-auto text-center">
  <h2>قیمت‌گذاری</h2>
</div>
{% endblock page_header %}

{% block content %}

<div class="row g-3">
<div class="col-md-4 mx-auto">
<h3>نوع:</h3>
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ forms.type_form.as_p }}
    <button type="submit" name="type_form" class="save btn btn-secondary">اضافه کردن</button>
</form></div>

<div class="col-md-4 mx-auto">
<h3>سطح:</h3>
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ forms.level_form.as_p }}
    <button type="submit" name="level_form" class="save btn btn-secondary">اضافه کردن</button>
</form></div>

<div class="col-md-4 mx-auto">
<h3>موضوع:</h3>
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ forms.subject_form.as_p }}
    <button type="submit" name="subject_form" class="save btn btn-secondary">اضافه کردن</button>
</form></div>
</div>
<hr>

<div class="row g-3">
<div class="col-md-3 mx-auto">
<h3>قیمت‌گذاری:</h3>
<form method="POST" class="post-form">
    {% csrf_token %}
    <!--{{ forms.price_form.as_p }}-->
    <!--{{ forms.price_form.type.as_field_group }}<br>-->
    {{ forms.price_form.subject.as_field_group }}<br>
    {{ forms.price_form.level.as_field_group }}
</div>
<div class="col-md-3 mx-auto">
    {{ forms.price_form.min_range.as_field_group }}<br>
    {{ forms.price_form.max_range.as_field_group }}<br>
    {{ forms.price_form.price.as_field_group }}

    <button type="submit" name="price_form" class="save btn btn-secondary">اضافه کردن</button>
</form></div>
</div>

<hr>
<div class="mx-auto text-center">
    <h2>قیمت‌ها</h2>
  </div>
{% for price in prices %}
    <h4>{{ price }}</h4>
{% endfor %}

{% endblock content %}